flask>=3.0.0
flask-cors>=4.0.0
pandas>=2.2.0
scikit-learn>=1.4.0
numpy>=1.26.0
joblib>=1.3.2
nltk>=3.8.1
setuptools>=65.5.0
# & C:\Users\karna\Documents\Projects\SMS-Spam-Detection-usin-NLP-main\.venv\Scripts\Activate.ps1